<section class="section-slide">

<input type="radio" name="slide" id="slide01" checked>
<input type="radio" name="slide" id="slide02">
<input type="radio" name="slide" id="slide03">
<input type="radio" name="slide" id="slide04">
<input type="radio" name="slide" id="slide05">
<input type="radio" name="slide" id="slide06">

<div class="slidewrap">
    <ul class="slidelist">
        <li>
            <a>
                <label for="slide06" class="left"></label>
                <img src="/assets/aboutme/slide01.png">
                <label for="slide02" class="right"></label>
            </a>
        </li>
        <li>
            <a>
                <label for="slide01" class="left"></label>
                <img src="/assets/aboutme/slide02.png">
                <label for="slide03" class="right"></label>
            </a>
        </li>
        <li>
            <a>
                <label for="slide02" class="left"></label>
                <img src="/assets/aboutme/slide03.png">
                <label for="slide04" class="right"></label>
            </a>
        </li>       
        <li>
            <a>
                <label for="slide03" class="left"></label>
                <img src="/assets/aboutme/slide04.png">
                <label for="slide05" class="right"></label>
            </a>
        </li>
        <li>
            <a>
                <label for="slide04" class="left"></label>
                <img src="/assets/aboutme/slide05.png">
                <label for="slide06" class="right"></label>
            </a>
        </li>
        <li>
            <a>
                <label for="slide05" class="left"></label>
                <img src="/assets/aboutme/slide06.png">
                <label for="slide01" class="right"></label>
            </a>
        </li>                
    </ul>
</div>

</section>