<section class="section-slide">
<div class="slidebox">
    <input type="radio" name="slide" id="slide01" checked>
    <input type="radio" name="slide" id="slide02">
    <input type="radio" name="slide" id="slide03">
    <input type="radio" name="slide" id="slide04">
    <input type="radio" name="slide" id="slide05">
    <input type="radio" name="slide" id="slide06">

    <ul class="slidelist">
        <li class="slideitem">
            <div>
                <label for="slide06" class="left"></label>
                <a><img src="/assets/aboutme/slide01.png"></a>
                <label for="slide02" class="right"></label>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide01" class="left"></label>
                <a><img src="/assets/aboutme/slide02.png"></a>
                <label for="slide03" class="right"></label>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide02" class="left"></label>
                <a><img src="/assets/aboutme/slide03.png"></a>
                <label for="slide04" class="right"></label>
            </div>
        </li>       
        <li class="slideitem">
            <div>
                <label for="slide03" class="left"></label>
                <a><img src="/assets/aboutme/slide04.png"></a>
                <label for="slide05" class="right"></label>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide04" class="left"></label>
                <a><img src="/assets/aboutme/slide05.png"></a>
                <label for="slide06" class="right"></label>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide05" class="left"></label>
                <a><img src="/assets/aboutme/slide06.png"></a>
                <label for="slide01" class="right"></label>
            </div>
        </li>                
    </ul>
</div>
</section>