<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
    <div class="item2" align="right">Backend</div>
        {% for skill in site.data.cv_skills %}
        <div class="item">
            <h3 class="level-title">{{ skill.name }}</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="{{ skill.level }}%">
                </div>                                    
            </div><!--//level-bar-->                       
        </div><!--//item-->
        {% endfor %}

    <div class="item2" align="right">Frontend</div>
        {% for skill in site.data.cv_skills2 %}
        <div class="item">
            <h3 class="level-title">{{ skill.name2 }}</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="{{ skill.level2 }}%">
                </div>                                     
            </div><!--//level-bar-->
        </div><!--//item-->
        {% endfor %}                  
    </div>
</section><!--//skills-section-->