<section class="section summary-section">
<h2><center>Data Scientist</center></h2><br><br>
<h2 class="section-title"></h2>
    <div class="summary">

      <h3>👩🏻‍💻 내가 생각하는 데이터 사이언티스트</h3>
      <h3>💼 Experience & Projects</h3>
          <li>Page Rank를 통한 안전한 대중교통 경로 추천</li>
          <li>◾ [공모전 + 팀프로젝트] '20.08월 / 3주'</li>
          <li>◾ COVID19, Page Rank, EigenCentrality</li>
          <br>
          <li>사회적거리두기 대기질 비교분석</li>
          <li>◾ [개인 프로젝트] '20.10월 / 6주'</li>
          <li>◾ R, Python, Crawling, COVID19, 시계열, 개입분석</li>

    </div>
</section>

<h2><center>Machine Learning Engineer</center></h2><br><br>
<h2 class="section-title"></h2>
    <div class="summary">

      <h3>👩🏻‍💻 내가 생각하는 머신러닝 엔지니어</h3>
      <h3>💼 Experience & Projects</h3>
          <li>블랙박스 영상기반 범칙행위 탐지 모델 개발</li>
          <li>◾ [교육 + 팀프로젝트] '21.08월 / 8주'</li>
          <li>◾ Pytorch, Tensorflow, YOLOv5, MASK R-CNN, Deep text recognition, PyQt5</li>
          <br>
          <li>사용자 평점 기반 영화 추천시스템 모형 개발</li>
          <li>◾ [교육 + 팀프로젝트] '21.05월 / 3주'</li>
          <li>◾ Recommendation system, Collaborative Filtering, R, Shiny</li>
    </div>
</section>

<br><br>

<h2><center>이 외에 다양한 경험을 할 준비가 되어 있습니다!</center></h2><br><br>